DB_USERNAME = postgres
DB_HOST = localhost
DB_DATABASE = NAME_DATABASE
DB_PASSWORD = DB_PASSWORD
DB_PORT = 5432
PORT = 5000
SECRET_KEY_JWT = password


EMAIL_USER=You email
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=
GMAIL_REFRESH_TOKEN=
DRIVE_REFRESH_TOKEN=